<ion-header>
  <ion-toolbar color="new">
    <ion-title>
      <div *ngIf="messages.length != 0;else noMessages">
        <img class="icon ion-text-center" src="../../assets/alert.png" />
      </div>
      <ng-template #noMessages>
        <div>
          <img class="icon ion-text-center" src="../../assets/checkmark.png" />
        </div>
      </ng-template>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div *ngIf="messages.length == 0" class="no-message">
    <ion-icon class="noMessageLogo" ios="logo-buffer" md="logo-buffer"></ion-icon>
      <div>geen meldingen</div>
    </div>
  <ion-list color="dark">
    <ion-item color="dark" *ngFor="let item of messages" (click)="presentModal(item)">
      <ion-grid>
        <ion-row>
          <ion-col class="sensorTime ion-text-center">
            <ion-icon *ngIf="timeSince(item[item.length-1].timestamp) != false" size="large" name="time"></ion-icon>
            <div>{{timeSince(item[item.length-1].timestamp)}}</div>
          </ion-col>
          <ion-col class="ion-text-center ion-text-uppercase sensorInfo">
            <div class="sensorName">SENSOR {{item[item.length-1].id}}</div>
            <div class="sensorValue">{{item[item.length-1].value}}</div>
          </ion-col>
          <ion-col class="ion-text-center ion-text-uppercase sensorAmountCol">
            <span class="sensorAmountValue">{{item.length}}</span>
            <ion-icon class="sensorArrow" name="arrow-dropdown-circle"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>