.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-list {
  padding: 0 !important;
}

ion-toolbar {
  color: white;
}

.icon {
  max-width: 10%;
  fill: white !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-message{
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  height: 100%;
  text-align: center;
  margin-top: 50%;
  vertical-align: middle;
  
ion-list {
  --ion-font-family: 'Oswald' !important;
}

ion-item {
  font-size: 22px;
}

.sensorTime {
  margin-top: 5px;
}

.sensorAmountValue {
  font-size: 26px;
  margin-top: 15px;
  margin-right: 5px;
}

.sensorInfo {
    border-left: solid;
    border-right: solid;
    padding: 10px;
}

.sensorArrow {
  margin-top: 15px;
}