.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-list {
  padding: 0 !important;
}

ion-toolbar {
  color: white;
}

.icon {
  max-width: 10%;
  fill: white !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.noMessageLogo {
  font-size: 50px;
  margin-bottom: 5px;
}

.no-message{
  color: rgba(119, 119, 119, 0.2);
  font-size: 15px;
  //height: 100vh;
  text-align: center;
  margin-top: 60%;
  vertical-align: middle;
}
ion-list {
  --ion-font-family: 'Oswald' !important;
}

ion-item {
  font-size: 22px;
}

.sensorTime {
  margin-top: 5px;
  font-size: 18px !important;
}

.sensorAmountValue {
  font-size: 26px;
  margin-top: 20px;
  margin-right: 5px;
}

.sensorInfo {
    border-left: solid;
    border-right: solid;
    padding: 10px;
}

.sensorAmountCol {
  padding-top: 12px;
}

.sensorArrow {
  margin-top: 15px;
}