<ion-header>
  <ion-toolbar color="new">
    <ion-title>
      <div *ngIf="messages.length != 0;else noMessages">
        <img class="icon ion-text-center" src="../../assets/alert.png"/>
      </div>
      <ng-template #noMessages>
        <div>
          <img class="icon ion-text-center" src="../../assets/checkmark.png"/>
      </div>
      </ng-template>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div *ngIf="messages.length == 0">
      <div class="no-message">geen meldingen</div>
  <ion-list color="dark">
      <ion-item color="dark" *ngFor="let item of messages">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <div class="sensorTime">{{item.timestamp.toLocaleDateString()}}</div>
              <div>{{item.timestamp.toLocaleTimeString()}}</div>
            </ion-col>
            <ion-col class="ion-text-center ion-text-uppercase sensorInfo">
              <div class="sensorName">SENSOR_NAME</div>
              <div class="sensorValue">{{item.message.body}}</div>
            </ion-col>
            <ion-col class="ion-text-center ion-text-uppercase sensorAmount">
              <span class="sensorAmountValue">3</span>
              <ion-icon class="sensorArrow" name="arrow-dropdown-circle"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-list>
</div>
</ion-content>


<!-- Voor alert te testen -->
<!-- <ion-button (click)="clearAlert()">
  alert
</ion-button> -->