<ion-header>
  <ion-toolbar color="new">
    <ion-title>
      <div *ngIf="messages.length != 0;else noMessages">
        <img class="icon ion-text-center" src="../../assets/alert.png"/>
      </div>
      <ng-template #noMessages>
        <div>
          <img class="icon ion-text-center" src="../../assets/checkmark.png"/>
      </div>
      </ng-template>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">
  <ion-list color="dark">
    <ion-item-sliding color="dark" *ngFor="let item of messages">
      <ion-item color="dark">
        <!-- <ion-label>{{item.timestamp.toLocaleDateString()}}{{item.message.body}}</ion-label> -->
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <div>{{item.timestamp.toLocaleDateString()}}</div>
              <div>{{item.timestamp.toLocaleTimeString()}}</div>
            </ion-col>
            <ion-col class="ion-text-center">
              <div>{{item.message.body}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-label>{{item.body}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Bevestig</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>