*{
    letter-spacing: 2px !important;
}

ion-list{
    padding: 0 !important;
    background-color: var(--ion-color-dark);
}

ion-item{
    font-size: 1.3em;
    vertical-align: middle;
}

ion-icon{
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
}