@font-face {
    font-family: 'Duracellio';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/Duracellio-Regular.otf');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/Oswald.ttf');
}