ion-list {
    padding: 0 !important;
  }

  ion-list {
    --ion-font-family: 'Oswald' !important;
  }

  .info {
    --ion-font-family: 'Oswald' !important;
    padding: 10px;
  }

  .headers {
      border-bottom: solid white;
  }

  .confirm {
    margin: 0 !important;
    min-height: 50px;
  }