ion-list {
    padding: 0 !important;
  }

  ion-list {
    --ion-font-family: 'Oswald' !important;
  }

  .info {
    --ion-font-family: 'Oswald' !important;
    padding: 10px;
  }

  .headers {
      border-bottom: solid white;
  }

  .confirm {
    margin-left: 20px;
    margin-right: 20px;
  }